<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>0</td> <td title="&lt;&lt;TestNGNaveenBasics.GenerateReport()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&lt;&lt;GenerateReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>0</td> <td title="&lt;&lt;TestNGNaveenBasics2.GenerateReport()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&lt;&lt;GenerateReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>0</td> <td title="&lt;&lt;TestNGNaveenBasics3.GenerateReport()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&lt;&lt;GenerateReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-174</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics.LaunchBrowser()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-149</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics2.LaunchBrowser()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics3.LaunchBrowser()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGNaveenBasics.SearchTest()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">SearchTest</td> 
  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGNaveenBasics2.SearchTest()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">SearchTest</td> 
  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGNaveenBasics3.SearchTest()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">SearchTest</td> 
  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-104</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics.closeBrowser()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-104</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics2.closeBrowser()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-25</td> <td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics3.closeBrowser()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-152</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics.deleteCookies()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&lt;&lt;deleteCookies</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-104</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics2.deleteCookies()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&lt;&lt;deleteCookies</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics3.deleteCookies()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&lt;&lt;deleteCookies</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics.enterURL()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&gt;&gt;enterURL</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics.enterURL()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&gt;&gt;enterURL</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics2.enterURL()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&gt;&gt;enterURL</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics2.enterURL()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&gt;&gt;enterURL</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics3.enterURL()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&gt;&gt;enterURL</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics3.enterURL()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&gt;&gt;enterURL</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGNaveenBasics.gogleTitleTest()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">gogleTitleTest</td> 
  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGNaveenBasics2.gogleTitleTest()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">gogleTitleTest</td> 
  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGNaveenBasics3.gogleTitleTest()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">gogleTitleTest</td> 
  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics.logOut()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics.logOut()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics2.logOut()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics2.logOut()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics3.logOut()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGNaveenBasics3.logOut()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-186</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics.login()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-186</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics2.login()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-37</td> <td>&nbsp;</td><td title="&gt;&gt;TestNGNaveenBasics3.login()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/01/29 16:20:31</td>   <td>-198</td> <td title="&gt;&gt;TestNGNaveenBasics.setUp()[pri:0, instance:TEstNG.TestNGNaveenBasics@19e13df]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>18/01/29 16:20:31</td>   <td>-190</td> <td title="&gt;&gt;TestNGNaveenBasics2.setUp()[pri:0, instance:TEstNG.TestNGNaveenBasics2@23a2f9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
<tr bgcolor="caeb9e">  <td>18/01/29 16:20:31</td>   <td>-190</td> <td title="&gt;&gt;TestNGNaveenBasics3.setUp()[pri:0, instance:TEstNG.TestNGNaveenBasics3@1e88b3c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@15451038</td>   <td></td> </tr>
</table>
