<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TEstNG.ToolQAGrouping</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Car2</td>
<td>Car </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Sedan1</td>
<td>Car Sedan Car </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Car1</td>
<td>Car </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Scooter1</td>
<td>Scooter </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Scooter2</td>
<td>Scooter </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
