<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Car</td><td>ToolQAGrouping.Sedan1()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]<br/>ToolQAGrouping.Car2()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]<br/>ToolQAGrouping.Car1()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]<br/></td></tr>
<tr><td>Scooter</td><td>ToolQAGrouping.Scooter2()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]<br/>ToolQAGrouping.Scooter1()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]<br/></td></tr>
<tr><td>Sedan Car</td><td>ToolQAGrouping.Sedan1()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]<br/></td></tr>
</table>
