<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97cf78">  <td>18/05/03 12:10:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ToolQAGrouping.Car1()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]">Car1</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>18/05/03 12:10:16</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ToolQAGrouping.Car2()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]">Car2</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>18/05/03 12:10:16</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ToolQAGrouping.Scooter1()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]">Scooter1</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>18/05/03 12:10:16</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ToolQAGrouping.Scooter2()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]">Scooter2</td> 
  <td>main@32017212</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>18/05/03 12:10:16</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ToolQAGrouping.Sedan1()[pri:0, instance:TEstNG.ToolQAGrouping@2ef5e5e3]">Sedan1</td> 
  <td>main@32017212</td>   <td></td> </tr>
</table>
